@{
    ViewBag.Title = "Chat";
}

<style>
    .chat-row {
        display: none;
    }
</style>

<h2>Super Chat</h2>
<h3 id="helloMsg"></h3>
<div class="container">

    <div class="row input-row">
        <input type="text" id="nick" placeholder="Введите ник" />
        <input type="button" id="inputButton" value="Вход" />
    </div>

    <div class="row chat-row">
        <input type="text" disabled class="disable-control" id="message" />
        <input type="button" disabled class="disable-control" id="sendmessage" value="Send" />
        <ul id="discussion"></ul>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/crypto-master/aes.js"></script>
    <script src="~/Scripts/crypto-master/aes-ctr.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <script src="~/Scripts/app/Sha256Service.js"></script>
    <script src="~/Scripts/app/DiffieHellman.js"></script>
    <script src="~/Scripts/app/AES.js"></script>
    <script src="~/Scripts/app/SRCommunication.js"></script>
    <script src="~/Scripts/app/App.js"></script>

    <script>
        $(function () {
            var app = new App();
        });
    </script>
}